.main{
    display:flex;
    height:100%;
}

.content{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width :100%;
    background-image: radial-gradient(#ccc 1px, transparent 1px);
    background-size: 20px 20px;
}